:root {
    --fontWeight-helvetica-light: 300;
    --fontWeight-helvetica-regular: 400;
    --fontWeight-helvetica-bold: 700;
    --fontWeight-helvetica-extra-bold: 900;
    --fontFamily-helvetica: 'Helvetica', sans-serif;
}
:root {
    --colorOrange: #EB6425;
    --colorBleu: #13ABE4;
    --colorVert: #85C141;
    --colorBlanche: #FFFFFF;
    --colorNoir: #292929;
    --colorModalContent:#F8F4F9;
}

.wrap-presentation h3{
    color: var(--colorBleu);
    font-weight: var(--fontWeight-helvetica-bold);
    text-align: center;
}
.wrap-presentation p{
    text-align: center;
    font-size: 17px;
}

.ee .ww{
    margin-top: 20px;
    background-color: var(--colorOrange) !important;
    color: var(--colorBlanche) !important;
    font-weight: var(--fontWeight-helvetica-bold);
}

/* #Media
================================================== */

@media (max-width: 767px) { 
    .present{
        display: none;
    }
}